.container {
  display: flex;
  align-items: center;
  gap: 100px;
}

.imageContainer {
  flex: 1;
  position: relative;
  height: 500px;
}

.img {
  object-fit: contain;
}

.formContainer {
  flex: 1;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form textarea,
.form input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: var(--bgSoft);
  color: var(--text);
}

.form button {
  padding: 15px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  background-color: var(--btn);
  color: var(--text);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
